*{
  margin: 0;
  padding: 0;
}

body{
  
    background-image: url();
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #352f44;
    height: 2790px;
  
}

.logo{
  position: absolute;
  width: 141px;
  height: 141px;
  left: 7px;
  top: -31px;
}

.navbar{
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  background: #2A2438;
  height: 13vh;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #352F44;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Fim css menu*/

/*Começo css pag*/

.btlc{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 150;
  border: none;
  padding: 5px 22px;
  cursor: pointer;
  position: absolute;
  left: 1083px;
  top: 22px;
  background: #BC6FF1;
  color:  #FFFFFF;
  border-radius: 59px;
}

.retangulo{
  position: absolute;
  width: 1148px;
  height: 2044px;
  left: 110px;
  top: 589px;
  background: #2A2438;
}

.img{
  top: 80px; 
  left: 0; 
  position: absolute;
}

.imgc{
  position: absolute;
  width: 221px;
  height: 271px;
  left: 149px;
}

.imgc1{
  top: 613px;
}

.imgc2{
  top: 956px;
}

.imgc3{
  top: 1297px;
}

.imgc4{
  top: 1636px;
}

.imgc5{
  top: 1979px
}

.imgc6{
  top: 2318px;
}

.nt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 150;
  border: none;
  padding: 15px 18px;
  position: absolute;
  width: 83px;
  height: 77px;
  left: 395px;
  background: #29DE30;
  color:  #FFFFFF;
  border-radius: 10px;
}

.nt1{
  top: 613px;
}

.nt2{
  top: 954px;
}

.nt3{
  top: 1295px;
}

.nt4{
  top: 1636px;
}

.nt5{
  top: 1979px;
}

.nt6{
  top: 2318px;
}

.ntu{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 150;
  border: none;
  padding: 7px 11px;
  position: absolute;
  left: 407px;
  width: 58px;
  height: 50px;
  background: #29DE30;
  color:  #FFFFFF;
  border-radius: 10px;
}

.ntu1{
  top: 707px;
}

.ntu2{
  top: 1048px;
}

.ntu3{
  top: 1389px;
}

.ntu4{
  top: 1730px;
}

.ntu5{
  top: 2073px;
}

.ntu6{
  top: 2412px;
}
.txtt{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  left: 521px;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  color: #BC6FF1;
}

.txtt1{
  width: 360px; 
  height: 56px; 
  top: 613px;
}

.txtt2{
  top: 956px
}

.txtt3{
  top: 1297px;
}

.txtt4{
  top: 1638px;
}

.txtt5{
  top: 1979px;
}

.txtt6{
  top: 2318px;
}

.txtd{
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 705px;
  height: 133px;
  left: 521px;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #FFFFFF;
}

.txtd1{
  width: 711px; 
  height: 133px;
  top: 674px;
}

.txtd2{
  top: 1017px;
}

.txtd3{
  top: 1358px;
}

.txtd4{
  top: 1699px;
}

.txtd5{
  top: 2051px;
}

.txtd6{
  top: 2390px;
}

.linhas{
  position: absolute;
  width: 1144px;
  height: 0px;
  border: 2px solid #BC6FF1;
  left: 110px;
}

.linhas1{
  top: 922px;
}

.linhas2{
  top: 1264px;
}

.linhas3{
  top: 1599px;
}

.linhas4{
  top: 1944px;
}

.linhas5{
  top: 2284px;
}

.stv{
  border: none;
  width: 32px;
  height: 38px;
  position: absolute;
  cursor: pointer;
  background: #BC6FF1;
  border-radius: 5px;
  top: 2696px;
}

.stv1{
  left: 396px; 
}

.stv2{
  left: 946px; 
}
.istv{
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  top: 2703px
}

.istv1{
  left: 400px; 
}

.istv2{
  left: 950px;
}

.bt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 150;
  border: none;
  cursor: pointer;
  padding: 5px 9px;
  position: absolute;
  width: 32px;
  height: 38px;
  background: #BC6FF1;
  color:  #FFFFFF;
  border-radius: 5px;
  left: 442px; 
  top: 2696px;
}
.bt1{
  left: 488px;
}

.bt2{
  left: 534px;
}

.bt3{
  left: 580px;
}

.bt4{
  left: 626px;
}

.bt5{
  left: 672px;
}

.bt6{
  left: 718px;
}

.bt7{
  left: 764px;
}

.bt8{
  left: 810px;
}

.p3{
  position: absolute;
  width: 19px;
  height: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  left: 848px; 
  top: 2712px;
}

.bt100{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 150;
  border: none;
  cursor: pointer;
  padding: 5px 9px;
  position: absolute;
  width: 59px;
  height: 38px;
  background: #BC6FF1;
  color:  #FFFFFF;
  border-radius: 5px;
  left: 873px; 
  top: 2696px;
}