* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #352F44;
    height: 998px;
}

.conteiner {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 812px;
}

.imgprinc {
    width: 100%;
}

.bn{
    position: absolute;
    width: 1348px;
    height: 768px;
    left: 0px;
    top: 0px;
}

.lg{
    position: absolute;
    width: 217px;
    height: 217px;
    left: 0px;
    top: -47px;
    transition: 2s;
}

.txtb{
    position: absolute;
    width: 150px;
    height: 35px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    cursor: pointer;
}

.btlc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 150;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1080px;
    top: 39px;
    width: 252px;
    height: 45px;
    background: #BC6FF1;
    color:  #FFFFFF;
    border-radius: 59px;
    transition: 1s;
}

.txtbb{
    position: absolute;
    width: 350px;
    height: 28px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    top: 840px; 
    left: 207px;
    color: #FFFFFF;
    transition: 2s;
}

.txtbb2{
    position: absolute;
    width: 350px;
    height: 28px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    top: 840px; 
    left: 942px;
    color: #FFFFFF;
    transition: 2s;
}

.imgic{
    position: absolute;
    top: 894px; 
    width: 64px;
    height: 64px;
    transition: 1s;
}

.imgic1{
    left: 82px;
}

.imgic2{ 
    left: 195px;
}

.imgic3{ 
    left: 308px;
}

.imgic4{
    left: 421px;
}

.imgic5{
    left: 534px;
}

.imgic6{
    left: 817px;
}

.imgic7{
    left: 930px;
}

.imgic8{
    left: 1043px;
}

.imgic9{
    left: 1156px;
}

.line{
position: absolute;
width: 142px;
height: 0px;
left: 620px;
top: 910px;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
transition: 2s;
}

@media screen and (max-width: 1190px) {
    
    .btlc{
        transition: 1s;
        left: 600px;   
    }
}

@media screen and (max-width: 810px) {
    
    .lg{
        transition: 2s;
        width: 157px;
        height: 157px;
    }
    .btlc{
        transition: 1s;
        left: 150px;   
    
    }
}



@media screen and (max-width: 1190px) {
    
    .txtbb{
        transition: 2s;
        top: 750px; 
        left: 200px;
        font-size: 15px;
    }
    .txtbb2{
        transition: 2s;
        top: 750px; 
        left: 720px;
        font-size: 15px;
    }

}


@media screen and (max-width: 980px) {
    
    .txtbb{
        transition: 1s;
        top: 600px; 
        left: 60px;
        font-size: 12px;
    }
    .txtbb2{
        transition: 1s;
        top: 500px; 
        left: 120px;
        font-size: 12px;
    }

}

@media screen and (max-width: 1190px) {
    
    .imgic{
        top: 910px;
        transition: 1s;
        margin-top: -70px;
        width: 30px;
        height: 30px;
        margin-left: -70px;
    }

    .line{
        top: 900px;
        transition: 2s;
        left: 500px;
    }

    .imgic6{
        left: 700px; 
    }
    
    .imgic7{  
        left: 800px; 
    }
    
    .imgic8{ 
        left: 900px;
    }
    
    .imgic9{ 
        left: 1000px; 
    }

}

@media screen and (max-width: 980px) {
    
    .imgic{
        top: 800px;
    }

    .line{
        top: 750px;
        transition: 2s;
        left: 430px;
    }

    .imgic1{
        left: 100px; 
    }
    
    .imgic2{  
        left: 200px; 
    }
    
    .imgic3{ 
        left: 300px;
    }
    
    .imgic4{ 
        left: 400px; 
    }

    .imgic5{
        left: 500px; 
    }

    .imgic6{
        left: 600px; 
    }
    
    .imgic7{  
        left: 700px; 
    }
    
    .imgic8{ 
        left: 800px;
    }
    
    .imgic9{ 
        left: 900px; 
    }

}

@media screen and (max-width: 980px) {
    
    .imgic{
        top: 800px;
    }

    .line{
        top: 750px;
        transition: 2s;
        left: 430px;
    }

    .txtbb2{
        transition: 1s;
        top: 800px; 
        left: 80px;
        font-size: 15px;
    }

    .imgic6{
        top: 1000px;
        left: 100px;  
    }
    
    .imgic7{  
        top: 1000px;
        left: 200px; 
    }
    
    .imgic8{ 
        top: 1000px;
        left: 300px;
    }
    
    .imgic9{ 
        top: 1000px;
        left: 400px; 
    }

}

@media screen and (max-width: 500px) {
    
    .lg{
        transition: 2s;
        width: 100px;
        top: -20px;
        height: 110px;
    }

    .btlc{
        transition: 1s;
        left: 100px;
        font-size: 11px;
        width: 150px;
        height: 20px;
        top: 20px;
    }

    .imgic{
        width: 20px;
        height: 20px;
    }
}